.history {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 280px;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  font-size: 16px;
}

.history__item {
  display: flex;
  justify-content: space-between;
}

.history__item:first-child {
  font-weight: 600;
}

.history__column {
  min-width: 30px;
}

.history__column_type_time {
  min-width: 60px;
  text-align: center;
}

.history__column_type_size {
  min-width: 60px;
}

.history__stub {
  max-width: 200px;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  margin: 32px auto;
}
