body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.game-field {
  display: grid;
  margin: 0;
  padding: 10px;
  background-color: #ccc;
  list-style: none;
  grid-gap: 8px;
}

.game-field__cell {
  width: 48px;
  height: 48px;
  background-color: #eeeaea;
  cursor: pointer;
}

.game-field__cell:hover {
  background-color: #f4f2f2;
}

.game-field__cell_type_bomb {
  background: center / 70% no-repeat url(./assets/bomb.png);
  background-color: #fff;
}

.game-field__cell_type_current-bomb {
  background: center / 70% no-repeat url(./assets/explosion.png);
  background-color: #fff;
}
